body{
    background-color:rgb(221, 219, 219);
}

main{
    width: 60%;
    align-items: left;
    padding: 10px 10px 10px 10px;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: 10;
}

.table,.table th, .table td{
    border: 1px solid ;
}

.table{
    border-collapse: collapse;
    margin: 20px;
}

.table tr:nth-child(even){background-color: #c7c5c5;}
.table th{background-color: #c7c5c5;}

fieldset{
    display: flex;
    width: 60%;
    border: 1px solid white;
    margin-bottom: 10px;
    border-radius: 5px;
}
fieldset >div{
    margin-left: 40px;
}
legend, caption{
    font-weight: bold;
    text-transform: capitalize;

}
a{
    color: black;
}